#at-plus-container {
	font-family: 'Arial', sans-serif;
	text-align: center;
	overflow: hidden;
}

.disable {
	background-color: #7E7E7E !important;
}

#result {
	background-color: #23499E;
	/* 设置大小为0，从而实现从小到大的动画 */
	opacity: 0;
	height: 0px;
	width: 0px;
	padding: 0px;
	border-radius: 50%;
	/* 设置字体 */
	color: #31DE9F;
	font-weight: bold;
	font-size: 30pt;
	/* 定位在@+的上方，隐藏超出部分 */
	position: fixed;
	left: 50%;
	top: 69%;
	transition: All 0.6s ease-in-out;
}

#control-ring {
	list-style-type: none;
}

#control-ring .button {
	height: 25px;
	width: 25px;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #1A8782;
	border-radius: 50%;
	background-color: #23499E;
	/* 定位在和@+相同位置 */
	position: fixed;
	left: 50%;
	top: 70%;
	opacity: 0;
	cursor: pointer;
	transition: All 0.6s ease-in-out, background-image 0s;
}

#control-ring .value {
	width: 18px;
	height: 18px;
	line-height: 18px;
	border-radius: 50%;
	background-color: rgb(255, 1, 1);
	display: block;
	/* 定位在图标的右上角 */
	position: relative;
	left: 15px;
	top: -28px;
	color: white;
	font-size: 8pt;
	cursor: default;
	opacity: 0;
}

.apb .icon {
	position: fixed;
	top: 70%;
	left: 49%;
	background: url("../images/atplus_white.png") rgba(157 ,159 ,196, 1) no-repeat center;
	background-size: 25px 20px;
	height: 30px;
	width: 30px;
	padding: 0px;
	border-radius: 50%;
	transition: background-color 1.3s 0.7s, transform 1.3s 0.5s, background-image 0s 0.6s;
}

#button:hover #result {
	height: 60px;
	width: 60px;
	padding: 40px;
	border-radius: 50%;
	opacity: 1;
	transform: translate(-55px, -170px);
}

#button:hover .button {
	opacity: 1;
	transition: All 0.6s ease-in-out;
}

#button:hover #control-ring-container {
	position: absolute;
	left: 50%;
	top: 70%;
}

#button:hover #control-ring {
	position: absolute;
	left: -75px;
	top: -75px;
	border-radius: 50%;
	width: 120px;
	height: 150px;
}

#button:hover .mask {
	transform: translate(-60px, -35px);
}
#button:hover .history {
	transform: translate(-75px, 0px);
}
#button:hover .message {
	transform: translate(-61px, 37px);
}
#button:hover .setting {
	transform: translate(-25px, 60px);
}
#button:hover .sign {
	transform: translate(15px, 55px);
}

#button:hover .icon{
	background: url("../images/atplus_green.png") rgba(48, 63, 159, 1) no-repeat center;
	background-size: 25px 20px;
	transition: All 0.4s ease-in-out;
	transform: scale(2);
	cursor: pointer;
}

.value-visable {
	opacity: 1 !important;
}

.value-invisable {
	opacity: 0 !important;
}

.disabled {
    background-color: rgba(105, 105, 105, 0.7) !important;
}

.disabled-fixed {
    background-color: rgba(105, 105, 105, 0.7) !important;
}

.running{
}

#order{
    position: absolute;
    margin: auto;
    left: 30px;
    right: 0;
    bottom: 525px;
    width: 500px;
    height: 30px;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    /*background-color: red;*/
}